/* Pinterest "Pin It" Button Public CSS */

/* DIV surrounding button */
.pin-it-btn-wrapper,
.pin-it-btn-wrapper-shortcode,
.pin-it-btn-wrapper-widget {
}

.pin-it-btn-wrapper {
    padding-bottom: 10px;
}

/* Latest "clear fix" method: http://css-tricks.com/snippets/css/clear-fix/ */
.pib-clearfix:before,
.pib-clearfix:after {
    content:"";
    display: table;
}
.pib-clearfix:after {
    clear: both;
}
.pib-clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.pib-float-left {
    float: left;
}

.pib-float-right {
    float: right;
}

/* DIV surrounding Share Bar */
/* Need to override WP styles with !important tags */

.pib-sharebar {
	padding: 10px 0 5px;
	margin: 0;
	width: 100% !important;
}

.pib-sharebar ul,
.pib-sharebar li {
    margin: 0 !important;
    padding: 0 !important;
	list-style: none;
	border: none;
	background: none;
    text-indent: 0;    
}

.pib-sharebar li {
	float: left;
	margin: 0 5px 5px 0 !important;
	display: block;
}

.pib-sharebar li:before {
    content: none !important;
}

.pib-sharebar li.pib-sharebar-pinterest a {
    vertical-align: top !important;
}

/*** BEGIN Count Bubble CSS ***/
/* Need to override theme styles as much as possible with !important tags */

table.pib-count-table {
	border: 0 !important;
	border-collapse: collapse !important;
	border-spacing: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	vertical-align: top !important;
	width: auto !important;
}

table.pib-count-table td {
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	vertical-align: top !important;
}

table.pib-count-table-horizontal td {
	text-align: left !important;
}

table.pib-count-table-vertical td {
	text-align: center !important;
}

a.pin-it-button-no-iframe,
a.pin-it-button-no-iframe:hover {
    background: none !important;
    border: 0 !important;
    text-decoration: none !important;
    width: auto !important;    
}

img.pib-count-img {
	border: 0 !important;
	margin: 0 !important;
	max-width: none !important;
	padding: 0 !important;
    width: auto !important;
    -webkit-box-shadow: 0 0 0 !important; 
    box-shadow: 0 0 0 !important; 
}

.pib-count-cell {
	display: none; /* Initially hidden */
	position: relative !important;
}

table.pib-count-table-horizontal td.pib-count-cell {
	padding-left: 4px !important;
}

table.pib-count-table-vertical td.pib-count-cell {
	padding-bottom: 4px !important;
}

.pib-count-bubble {
	background-color: #FCF9F9 !important;
	border: 1px solid #C9C5C5 !important;
	border-radius: 1px !important;
	color: #777 !important;
	display: inline-block !important;
	position: relative !important;
	vertical-align: top !important;
}

table.pib-count-table-horizontal .pib-count-bubble {
	height: 10px !important;
	font: 10px/10px Arial, Helvetica, sans-serif !important;
	margin: 0 !important;
	padding: 3px 5px 4px 5px !important;
	text-align: left !important;
	width: auto !important;
}

table.pib-count-table-vertical .pib-count-bubble {
	font: 12px/12px Arial, Helvetica, sans-serif !important;
	height: 21px !important;
	margin: 0 !important;
	padding: 9px 0 0 0 !important;
	text-align: center !important;
	width: 39px !important;
}

.pib-count-bubble:after,
.pib-count-bubble:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

table.pib-count-table-horizontal .pib-count-bubble:after,
table.pib-count-table-horizontal .pib-count-bubble:before {
	right: 100%;
}

table.pib-count-table-vertical .pib-count-bubble:after,
table.pib-count-table-vertical .pib-count-bubble:before {
	top: 100%;
}

.pib-count-bubble:after {
	border-width: 3px;
}

table.pib-count-table-horizontal .pib-count-bubble:after {
	border-right-color: #FCF9F9;
	top: 50%;
	margin-top: -3px;
}

table.pib-count-table-vertical .pib-count-bubble:after {
	border-top-color: #FCF9F9;
	left: 50%;
	margin-left: -3px;
}

.pib-count-bubble:before {
	border-width: 4px;
}

table.pib-count-table-horizontal .pib-count-bubble:before {
	border-right-color: #C9C5C5;
	top: 50%;
	margin-top: -4px;
}

table.pib-count-table-vertical .pib-count-bubble:before {
	border-top-color: #C9C5C5;
	left: 50%;
	margin-left: -4px;
}

/*** END Count Bubble CSS ***/
