/* Pinterest "Pin It" Button Admin CSS */

#icon-pib-icon32 {
    background: transparent url('../img/pinterest-button-icon-med.png') no-repeat;
}

.postbox .pib-hndle {
	cursor: pointer;
}

.form-table {
    margin-bottom: 10px !important; 
}

/* Shrink WP admin cell height defaults */
.form-table td {
    padding: 1px 10px;
}

/* Now back to WP admin cell height defaults */
.form-table .pib-input-cell {
    padding: 8px 10px;
}

/* TODO: Flip flop above 2 classes - use native CSS where possible */

.form-table label {
    padding-left: 3px;
}
.form-table input[type="checkbox"] {
    margin-right: 5px;
	width: auto;
}

.form-table textarea {
    line-height: 1.3em;
    width: 350px;
}

.form-table .pib-pad-cell-top {
	padding-top: 7px;
}

.form-table .pib-plain-label {
	margin: 0;
	padding: 0;
}

.pib-admin-upgrade-banner-top {
    margin-top: 5px;
}

.pib-admin-upgrade-banner-top img {
	border: 1px solid #ccc;
}

#share_plugin_buttons td {
    padding-right: 10px;
    vertical-align: top;
}

#pib_license_key {
    width: 250px;
}

#custom_css {
    width: 100%;
}

.inside li .label {
	vertical-align: top;
}

.pib-submit-settings {
	padding-bottom: 1.5em;
}

.pib-no-margin,
.pib-no-margin td {
    margin: 0;
    padding: 0;
}

.pib-upgrade-to-pro {
	font: italic 12px sans-serif;
}

.pib-upgrade-to-pro a {
    font-weight: bold;
}

/* Pro Upgrade Styles */

/* from twitter bootstrap labels */
.pib-pro-label {
    font: bold 12px sans-serif;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999; /* red: #b94a48 */
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 10px;
}

.disabled {
    color: #999;
    cursor: inherit;
}

/* External link icon */
a.external {
    background: transparent url('../img/icon-external-link.gif') center right no-repeat;
    padding-right: 17px;
}

/* Custom image button admin section (outside popup) */
#custom_img_btn_select_row td table {
    padding-left: 6px;
}

/* Custom image button selector table inside thickbox popup (Pro) */
#custom_img_btn_selector_form {
    text-align: center;
}

#custom_img_btn_selector_form table {
    margin: 20px auto 0 auto;
}

#custom_img_btn_selector_form td {
    cursor: pointer;
    width: 75px;
    text-align: center;
    height: 50px;
}

#custom_img_btn_selector_form td:hover {
    background-color: #ececec;
}

#custom_img_btn_selector_form p {
    text-align: center;
}

#custom_img_btn_lite_row td {
    padding-right: 15px !important;
}

/* Custom image button examples thickbox popup (lite) */
#custom_img_btn_examples_container {
    text-align: center;
    margin-top: 20px;
}

#custom_img_btn_examples_container .upgrade-text {
    line-height: 2em;
}

/* Repeating button-primary class font color as thickbox styles override it, so we need to override it in turn.
   Taken from wp-admin/css/colors-fresh.dev.css */

#custom_img_btn_examples_container .upgrade-text a.button-primary {
	color: #fff;
}

#custom_img_btn_examples_container .upgrade-text a.button-primary:active {
	color: #eaf2fa;
}

#custom_img_btn_examples_container .upgrade-text a.button-primary:hover,
#custom_img_btn_examples_container .upgrade-text a.button-primary:focus,
#custom_img_btn_examples_container .upgrade-text a.button-primary:active {
	border-color: #13455b;
	color: #eaf2fa;
}
