/* This stylesheet is used to style the public view of the plugin. */

/* Pinterest "Pin It" Button Public CSS */

	/***
	*
	*	DIV surrounding button 
	*
	***/
div.pin-it-btn-wrapper,
div.pin-it-btn-wrapper-shortcode,
div.pin-it-btn-wrapper-widget {
	border: none;
}

div.pin-it-btn-wrapper {
    padding-bottom: 10px;
}

/* Latest "clear fix" method: http://css-tricks.com/snippets/css/clear-fix/ */
.pib-clearfix:before,
.pib-clearfix:after {
    content:"";
    display: table;
}
.pib-clearfix:after {
    clear: both;
}
.pib-clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

div.pib-float-left {
    float: left;
}

div.pib-float-right {
    float: right;
}

	/***
	*
	*	Count Bubble CSS
	*
	***/

table.pib-count-table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: auto;
}

table.pib-count-table td {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

table.pib-count-table-horizontal td {
	text-align: left;
}

table.pib-count-table-vertical td {
	text-align: center;
}

a.pin-it-button-no-iframe,
a.pin-it-button-no-iframe:hover {
    background: none;
    border: 0;
    text-decoration: none;
    width: auto;    
}

img.pib-count-img {
	border: 0;
	margin: 0;
	max-width: none;
	padding: 0;
    width: auto;
    -webkit-box-shadow: 0 0 0; 
    box-shadow: 0 0 0; 
}

.pib-count-cell {
	display: none; /* Initially hidden */
	position: relative;
}

table.pib-count-table-horizontal td.pib-count-cell {
	padding-left: 4px;
}

table.pib-count-table-vertical td.pib-count-cell {
	padding-bottom: 4px;
}

.pib-count-bubble {
	background-color: #FCF9F9;
	border: 1px solid #C9C5C5;
	border-radius: 1px;
	color: #777;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

table.pib-count-table-horizontal .pib-count-bubble {
	height: 10px;
	font: 10px/10px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 3px 5px 4px 5px;
	text-align: left;
	width: auto;
}

table.pib-count-table-vertical .pib-count-bubble {
	font: 12px/12px Arial, Helvetica, sans-serif;
	height: 21px;
	margin: 0;
	padding: 9px 0 0 0;
	text-align: center;
	width: 39px;
}

.pib-count-bubble:after,
.pib-count-bubble:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

table.pib-count-table-horizontal .pib-count-bubble:after,
table.pib-count-table-horizontal .pib-count-bubble:before {
	right: 100%;
}

table.pib-count-table-vertical .pib-count-bubble:after,
table.pib-count-table-vertical .pib-count-bubble:before {
	top: 100%;
}

.pib-count-bubble:after {
	border-width: 3px;
}

table.pib-count-table-horizontal .pib-count-bubble:after {
	border-right-color: #FCF9F9;
	top: 50%;
	margin-top: -3px;
}

table.pib-count-table-vertical .pib-count-bubble:after {
	border-top-color: #FCF9F9;
	left: 50%;
	margin-left: -3px;
}

.pib-count-bubble:before {
	border-width: 4px;
}

table.pib-count-table-horizontal .pib-count-bubble:before {
	border-right-color: #C9C5C5;
	top: 50%;
	margin-top: -4px;
}

table.pib-count-table-vertical .pib-count-bubble:before {
	border-top-color: #C9C5C5;
	left: 50%;
	margin-left: -4px;
}

/*** END Count Bubble CSS ***/