/* This stylesheet is used to style the public view of the plugin. */

/* Pinterest "Pin It" Button Public CSS */

	/***
	*
	*	DIV surrounding button 
	*
	***/
div.pin-it-btn-wrapper,
div.pin-it-btn-wrapper-shortcode,
div.pin-it-btn-wrapper-widget {
}

div.pin-it-btn-wrapper {
    padding-bottom: 10px;
	position: relative;
}

div.pin-it-btn-wrapper a,
div.pin-it-btn-wrapper a:hover,
div.pin-it-btn-wrapper-shortcode a,
div.pin-it-btn-wrapper-shortcode a:hover, 
div.pin-it-btn-wrapper-widget a, 
div.pin-it-btn-wrapper-widget a:hover {
	background: none;
	border: 0;
	text-decoration: none;
	width: auto;
	margin: 0;
	max-width: none;
	padding: 0;
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

/* Latest "clear fix" method: http://css-tricks.com/snippets/css/clear-fix/ */
.pib-clearfix:before,
.pib-clearfix:after {
    content:"";
    display: table;
}
.pib-clearfix:after {
    clear: both;
}
.pib-clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* Align left/right/center options */

.pib-align-left {
	text-align: left;
}

.pib-align-right {
	text-align: right;
}

.pib-align-center {
	text-align: center;
}
